# Создаем новые переменные

In [2]:
import pandas as pd

bikes = pd.read_csv('Data/BikeData.csv')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [5]:
# Новая колонка - сумма по Partner 1 и Partner 2

bikes['Rental Count'] = bikes['Partner 1'] + bikes['Partner 2']
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97

In [6]:
# Теперь удалим колонки Partner 1 и Partner 2
# Способ 1
del bikes['Partner 1']
del bikes['Partner 2']
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97

In [16]:
# Удалим колонки Partner 1 и Partner 2
# Способ 2

bikes = pd.read_csv('Data/BikeData.csv')
bikes['Rental Count'] = bikes['Partner 1'] + bikes['Partner 2']

bikes = bikes.drop('Partner 2', axis=1)  # не изменяет исходный
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,97

In [18]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Rental Count     8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [21]:
# Преобразовать значения в колонке Date в тип DateTime и вытащить месяцы

pd.to_datetime(bikes['Date']).dt.month

0        1
1        1
2        1
3        1
4        1
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int64

In [22]:
# Преобразовать значения в колонке Date в тип DateTime и вытащить месяцы правильно

pd.to_datetime(bikes['Date'], dayfirst=True).dt.month

0       12
1       12
2       12
3       12
4       12
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int64

In [26]:
# Преобразовать значения в колонке Date в тип DateTime

bikes['Date'] = pd.to_datetime(bikes['Date'], dayfirst=True)
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Rental Count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,97

In [24]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   datetime64[ns]
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Rental Count     8760 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(3)
memory usage: 821.4+ KB

In [27]:
bikes['Date'].dt.month

0       12
1       12
2       12
3       12
4       12
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int64

In [28]:
bikes['Date'].dt.year

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
8755    2018
8756    2018
8757    2018
8758    2018
8759    2018
Name: Date, Length: 8760, dtype: int64

In [30]:
# Фильтр по месяцу (март)

bikes[bikes['Date'].dt.month == 3]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Rental Count
2160,2018-03-01,0,2.0,96,1.3,2.0,0.0,Spring,Holiday,Yes,47,48
2161,2018-03-01,1,2.1,97,0.2,0.0,0.0,Spring,Holiday,Yes,146,193
2162,2018-03-01,2,2.0,97,1.0,0.0,0.0,Spring,Holiday,Yes,13,167
2163,2018-03-01,3,1.6,97,2.3,0.1,0.0,Spring,Holiday,Yes,72,101
2164,2018-03-01,4,1.6,97,1.1,0.0,0.0,Spring,Holiday,Yes,7,26
...,...,...,...,...,...,...,...,...,...,...,...,...
2899,2018-03-31,19,15.3,41,2.0,0.0,0.0,Spring,No Holiday,Yes,693,1483
2900,2018-03-31,20,14.0,45,1.6,0.0,0.0,Spring,No Holiday,Yes,184,195
2901,2018-03-31,21,13.3,48,1.6,0.0,0.0,Spring,No Holiday,Yes,445,485
2902,2018-03-31,22,12.8,52,1.5,0.0,0.0,Spring,No Holiday,Yes,773,1439
2903,2018-03-31,23,12.4,63,1.3,0.0,0.0,Spring,No Holiday,Yes,207,800

In [ ]:
bikes[bikes['Date'].dt.year == 2017].shape

In [ ]:
bikes[bikes['Date'].dt.year == 2018].shape

In [31]:
bikes['Date'].dt.day_name()

0       Friday
1       Friday
2       Friday
3       Friday
4       Friday
         ...
8755    Friday
8756    Friday
8757    Friday
8758    Friday
8759    Friday
Name: Date, Length: 8760, dtype: object

In [34]:
# Фильтр по дню недели (воскресенье)

bikes[bikes['Date'].dt.day_name() == 'Sunday']

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Rental Count
48,2017-12-03,0,4.0,58,1.4,0.0,0.0,Winter,No Holiday,Yes,208,277
49,2017-12-03,1,3.9,69,1.7,0.0,0.0,Winter,No Holiday,Yes,100,265
50,2017-12-03,2,NaN,79,1.4,0.0,0.0,Winter,No Holiday,Yes,208,262
51,2017-12-03,3,3.4,71,1.6,0.5,0.0,Winter,No Holiday,Yes,39,78
52,2017-12-03,4,3.5,73,1.0,0.0,0.0,Winter,No Holiday,Yes,74,95
...,...,...,...,...,...,...,...,...,...,...,...,...
8635,2018-11-25,19,6.3,73,1.1,0.0,0.4,Autumn,No Holiday,Yes,317,588
8636,2018-11-25,20,5.5,77,0.7,0.0,0.4,Autumn,No Holiday,Yes,252,357
8637,2018-11-25,21,4.7,81,1.0,0.0,0.4,Autumn,No Holiday,Yes,114,419
8638,2018-11-25,22,4.2,82,0.9,0.0,0.4,Autumn,No Holiday,Yes,283,688
8639,2018-11-25,23,3.8,83,1.1,0.0,0.4,Autumn,No Holiday,Yes,167,218

In [5]:
# Преобразование переменной 'Functioning Day' в логическую

bikes['Functioning Day'] = bikes['Functioning Day'] == 'Yes'
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,False,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,False,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,False,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,False,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,False,59,38

### Вспоминаем про функции

In [6]:
def currency_converter(rub):
    return round(rub / 74.73,2)

currency_converter(1000)

13.38

In [7]:
amounts = [1000, 2000, 4214, 12321]
print(list(map(currency_converter, amounts)))
print(list(map(lambda x: round(x / 74.73,2), amounts)))
print(list(map(lambda x: 0 if x < 3000 else 1, amounts)))

[13.38, 26.76, 56.39, 164.87]
[13.38, 26.76, 56.39, 164.87]
[0, 0, 1, 1]

In [9]:
bikes['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0).sum()

432

In [10]:
bikes[bikes['Holiday'] == 'Holiday'].shape

(432, 12)

In [14]:
# Преобразование переменной 'Holiday' в бинарную числовую

bikes['Holiday'] = bikes['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0)

In [15]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Normal Humidity
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,0,False,207,50,0
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,0,False,139,80,0
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,0,False,22,140,0
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,0,False,43,105,1
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,0,False,59,38,0

In [18]:
# Преобразование переменной 'Normal Humidity' в бинарную числовую:
# нормальная вдажность (40 - 60) -> 1, иначе -> 0

bikes['Normal Humidity'] = bikes['Humidity'].apply(lambda x: 1 if x in range(40,61) else 0)

bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Normal Humidity
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,0,False,207,50,0
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,0,False,139,80,0
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,0,False,22,140,0
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,0,False,43,105,1
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,0,False,59,38,0

In [ ]:
def get_temp_cat(temp):
    if temp < 0:
        return 'Freezing'
    elif temp < 15:
        return 'Chilly'
    elif temp < 26:
        return 'Nice'
    elif temp >= 26:
        return 'Hot'
    else:
        return temp

In [ ]:
bikes['Temperature Category'] = bikes['Temperature'].apply(get_temp_cat)

In [ ]:
bikes[['Temperature Category', 'Temperature']].tail()

In [ ]:
bikes['Temperature Category'] = pd.Categorical(bikes['Temperature Category'])

In [ ]:
bikes.info()

In [ ]:
bikes['Temperature Category'].cat.codes

In [ ]:
bikes['Temperature Category'].cat.categories

In [ ]:
import numpy as np

bikes['Good Weather'] = np.where((bikes['Temperature Category'] == 'Nice') &
         (bikes['Normal Humidity'] == 1) &
         (bikes['Wind speed'] <= 5.4) &
         (bikes['Snowfall'] == 0) &
         (bikes['Rainfall'] == 0), 1, 0)

In [ ]:
bikes.info()

In [ ]:
bikes = bikes.drop('Partner 1', axis=1)

In [ ]:
del bikes['Partner 2']

In [ ]:
bikes.info()

In [ ]:
bikes.to_pickle('Data/BikesDataVars.pkl')

In [ ]:
bikes.to_csv('Data/BikesDataVars.csv', index=False)
bikes.to_excel('Data/BikesDataVars.xlsx', index=False)

In [ ]:
df_pkl = pd.read_pickle('Data/BikesDataVars.pkl')

In [ ]:
df_pkl.info()

In [ ]:
df_csv = pd.read_csv('Data/BikesDataVars.csv')
df_csv.info()

In [ ]:
df_xlsx = pd.read_excel('Data/BikesDataVars.xlsx', index_col=False)
df_xlsx.info()